# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\WIN10\Desktop\FEI\4.semeter\OOP\Cvicenie4\FEI-UIM-OOP-LS-21-cvicenie4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
